@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* generales */

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 10px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: 85px 315px 315px 300px 85px;
    grid-template-areas:
        "header header header"
        "section section aside"
        "section section aside"
        "main main aside"
        "footer1 footer1 footer1";
}

@media (max-width: 1320px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "section"
            "main"
            "aside"
            "footer";
    }

    .section,
    main {
        flex-direction: column;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
i {
    color: rgb(15, 78, 25);
}

hr {
    border-color: rgb(8, 105, 49);
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: rgb(46, 247, 123);
}

.fondo {
    background-color: rgba(193, 233, 17, 0.301);
    border-radius: 5px;
}



section,
main {
    max-width: 880px;
}

aside {
    max-width: 440px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    grid-area: header;
}

header .menu {
    display: flex;
    align-items: center;
}

header .menu ul {
    display: flex;
    list-style: none;
    column-gap: 10px;
    margin: 0;
    padding: 0;
}

section {
    grid-area: section;
    display: flex;
    column-gap: 10px;
    margin: 15px 0;
}

section .fondo {
    display: flex;
    align-items: center;
    padding: 20px;
}


section .fondo div {
    width: 50%;
}

section .fondo h1 span {
    font-size: 40px;
    color: rgb(13, 10, 236);
}

section img,
aside #proyectos a div img {
    max-width: 100%;
    height: auto;
}

main {
    grid-area: main;
    display: flex;
    column-gap: 10px;
}

main section h2 {
    margin-bottom: 15px;
}

main #sobremi,
main #contacto {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #sobremi p {
    margin-bottom: 10px;
}

main #contacto.fondo-oscuro {
    background-color: rgb(51, 7, 245);
}

main #contacto.fondo-oscuro p,
main #contacto.fondo-oscuro h2 {
    color: white;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside #proyectos,
aside .redes {
    margin: 15px 0 0 15px;
    padding: 20px;
}

aside div.redesFondo {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

aside #proyectos>h2 {
    margin-top: 30px;
}

aside #proyectos a div {
    margin: 30px 0;
}

aside #proyectos a div h3 {
    margin-bottom: 15px;
}


footer {
    grid-area: footer1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: right;
    width: 100%;
}

footer p {
    width: 100%;
    text-align: center;
    padding: 15px;
    opacity: 50%;
}